@font-face {
  font-family: kalameh;
  font-display: swap;
  src: url("./kalameh/Kalameh(FaNum)-Black.ttf");
  font-weight: 900;
}
@font-face {
  font-family: kalameh;
  font-display: swap;
  src: url("./kalameh/Kalameh(FaNum)-ExtraBold.ttf");
  font-weight: 800;
}
@font-face {
  font-family: kalameh;
  font-display: swap;
  src: url("./kalameh/Kalameh(FaNum)-Bold.ttf");
  font-weight: 700;
}
@font-face {
  font-family: kalameh;
  font-display: swap;
  src: url("./kalameh/Kalameh(FaNum)-SemiBold.ttf");
  font-weight: 600;
}
@font-face {
  font-family: kalameh;
  font-display: swap;
  src: url("./kalameh/Kalameh(FaNum)-Medium.ttf");
  font-weight: 500;
}
@font-face {
  font-family: kalameh;
  font-display: swap;
  src: url("./kalameh/Kalameh(FaNum)-Regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: kalameh;
  font-display: swap;
  src: url("./kalameh/Kalameh(FaNum)-Light.ttf");
  font-weight: 300;
}
@font-face {
  font-family: kalameh;
  font-display: swap;
  src: url("./kalameh/Kalameh(FaNum)-Thin.ttf");
  font-weight: 200;
}
